@media (max-width: 1050px) {
    .container {
        max-width: 850px;
    }
    .subheader {
        &__wrapper {
            margin: 0 20px;
        }
        &__logo {
            &__item {
                max-height: 60px;
            }
        }
        &__btn {
            margin-top: 0;
        }
    }
    .reasons {
        &__round {
            margin-right: 10px;
            width: 80px;
            height: 80px;
            img {
                scale: .75;
            }
        }
        &__descr {
            font-size: 14px;
        }
    }
    .offer {
        &__item {
            width: 43%;
            &__img {
                scale: .8;
                margin-right: 10px;
            }
        }
        &__title {
            font-size: 22px;
        }
        &__descr {
            font-size: 15px;
        }
    }
    .require {
        margin: 0 20px;
    }
    .communication {
        padding-left: 20px;
        padding-right: 20px;
        .form {
            &__request {
                grid-template-columns: 400px;
            }
        }
    }
    .footer {
        &__logo {
            &__item {
                max-height: 65px;
            }
        }
        &__designer {
            margin-right: 15px;
        }
    }
}

@media (max-width: 849px) {
    .container {
        max-width: 700px;
    }
    .header {
        .menu {
            &__item {
                padding-right: 7%;
            }
            &__language {
                left: calc(100% - 20px);
            }
        }
    }
    .subheader {
        &__logo {
            &__descr {
                font-size: 16px;
            }
            &__item {
                max-height: 47px;
            }
        }
        &__call {
            display: none;
        }
    }
    .promo {
        &__header {
            padding-top: 250px;
            font-size: 45px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .reasons {
        &__wrapper {
            flex-direction: column;
            flex-wrap: wrap;
            &-side {
                width: 70%;
                margin: 0 auto;
            }
        }
        &__round {
            width: 100px;
            height: 100px;
            margin-right: 25px;
            img {
                scale: 1;
            }
        }
        &__descr {
            font-size: 16px;
        }
    }
    .offer {
        padding-bottom: 70px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 70%;
            margin-bottom: 30px;
            &__img {
                scale: 1;
                margin-right: 30px;
            }
        }
        &__title {
            font-size: 27px;
        }
        &__descr {
            font-size: 17px;
        }
    }   
    .choice {
        padding-bottom: 0;
        &__img {
            width: 95%;
        }
    }
    .communication {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        .form {
            &__questions {
                grid-template-columns: 500px;
            }
        }
        .contacts {
            margin-top: 80px;
            &__list {
                &__link {
                    &::before {
                        left: -48px;
                    }
                }
            }
            &__link {
                &__facebook {
                    img {
                        margin-right: 21px;
                    }
                }
            }
        }
    }
}

@media (max-width: 699px) {
    .container {
        max-width: 500px;
    }
    .header {
        .menu {
            &__language {
                top: 25px;
                left: calc(0% + 20px);
                transform: translateY(-50%);
                z-index: 1;
                transition: 0.6s all;
            }
        }
    }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0,0,0, .8);
        transition: 0.6s all;
        &_active {
            left: 0;
            z-index: 2;
        }
        &__item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
        }
        &__link {
            font-size: 20px;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 5px;
            transition: 0.5s all;
            }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .subheader {
        &__wrapper {
            height: 160px;
        }
        &__logo {
            &__items {
                justify-content: start;
            }
            &__item {
                margin-bottom: 5px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 39px;
            padding-top: 230px;
        }
        &__btn {
            margin-top: 90px;
        }
    }
    .reasons {
        &__header {
            font-size: 27px;
        }
        &__wrapper {
            margin-top: 0;
            &-side {
                width: 90%;
            }
        }
        &__item {
            flex-direction: column;
            margin-top: 40px;
        }
        &__round {
            margin-right: 0;
        }
        &__descr {
            margin-top: 15px;
            text-align: center;
        }
    }
    .offer {
        &__header {
            font-size: 27px;
        }
        &__item {
            &__img {
                scale: .8;
                margin-right: 10px;
            }
        }
        &__title {
            font-size: 22px;
        }
        &__descr {
            font-size: 15px;
        }
    }
    .choice {
        min-height: 600px;
        &__header {
            font-size: 27px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__img {
            &__descr {
                font-size: 27px;
            }
        }
    }
    .require {
        &__header {
            font-size: 27px;
        }
        &__blocks {
            flex-direction: column;
        }
        &__wrapper {
            width: 95%;
        }
        &__title {
            &_red {
                margin-top: 50px;
            }
        }
    }
    .communication {
        &__header {
            font-size: 27px;
        }
        .form {
            &__questions {
                grid-template-columns: 400px;
            }
        }
    }
    .footer {
        &__logo {
            padding: 38px 0 0 0;
            &__item {
                max-height: 47px;
            }
        }
        &__designer {
            font-size: 11px;
            margin-top: 15px;
        }
    }
}



@media (max-width: 499px) {
    .container {
        max-width: 320px;
    }
    .menu {
        &__item {
            text-align: center;
        }
    }
    .subheader {
        &__wrapper {
            height: 250px;
            flex-direction: column;
        }
        &__contact {
            margin-bottom: 10px;
            align-items: center;
        }
        &__number {
            margin-top: 5px;
        }
        &__btn {
            width: 259px;
        }
    }
    .promo {
        &__header {
            padding-top: 300px;
            font-size: 33px;
        }
        &__descr {
            font-size: 16px;
            line-height: 22px;
        }
        &__btn {
            margin-top: 60px;
        }
    }
    .reasons {
        &__header {
            font-size: 23px;
        }
        &__item {
            margin-top: 30px;
        }
    }
    .offer {
        &__header {
            padding-top: 0;
            font-size: 23px;
        }
        &__item {
            &__wrapper {
                flex-direction: column;
                padding-bottom: 0;
            }
            &__img {
                scale: 1;
                margin-right: 0;
            }
        }
        &__title {
            margin: 15px 0;
        }
    }
    .choice {
        min-height: 530px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__img {
            width: 100%;
            &__descr {
                font-size: 18px;
            }
        }
        &__black {
            height: 380px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .require {
        padding-bottom: 60px;
        &__header {
            font-size: 23px;
        }
        &__blocks {
            margin-top: 30px;
        }
        &__title {
            font-size: 18px;
            &_red {
                margin-top: 30px;
            }
        }
        &__list {
            li {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .communication {
        &__header {
            font-size: 23px;
        }
        .form {
            &__questions {
                grid-template-columns: 300px;
            }
        }
        .contacts {
            &__list {
                &__link {
                    font-size: 14px;
                    padding-top: 3px;
                }
                &__item {
                    margin-bottom: 30px;
                }
            }
            &__link {
                &__descr {
                    font-size: 14px;
                }
            }
        }
    }
    .footer {
        &__logo {
            flex-wrap: wrap;
            justify-content: start;
            margin: 0 30px;
            padding-top: 40px;
            &__item {
                margin-bottom: 5px;
            }
        }
    }
}
