.offer {
    padding-bottom: 130px;
    &__header {
        position: relative;
        margin-bottom: 0;
        padding-top: 30px;
        color: #222;
        font-weight: 700;
        font-size: 38px;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        z-index: 2;
    }
    &__wrapper {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
    }
    &__item {
        width: 45%;
        border: solid 2px #202020b4;
        border-radius: 7px;
        padding: 15px;
        background-color: rgb(246, 246, 246);
        &__wrapper {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #202020b4;
        }
        &__img {
            width: 90px;
            height: auto;
            margin-right: 30px;
            &_document {
                scale: .92;
            }
        }
    }
    &__title {
        font-size: 27px;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__descr {
        margin-top: 10px;
        color: #202020;
        font-size: 17px;
        font-weight: 300;
        line-height: 21px;
    }
}